.divbox {
  color: aliceblue;
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ScrollDiv::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
