.App {
  text-align: center;
  height: 100vh;
  background-color: #f7f7f7;
  margin-top: -2%;
}

.ScrollDiv{
  overflow-y: scroll; 
  height:100vh;
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ScrollDiv::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h1{
  padding-top: 2%;
  color: white;
}

button{
  background-color: orange;
  border: none;
  width: 10.5em;
  height: 2em;
  font-weight: 700;
}

#VIII{
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.topBar{
  background-color: black;
}