.ClanRow{
    display: flex;
    background-color: rgb(0, 0, 0);
    border-top: solid rgb(65, 65, 65) 1px;
    padding-left: 93px;
    
   
}

.ClanRow h5{
   
    color: white;
}

h5{
    margin-top: 15px;

    
    color: white;
}



.logo{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px

}

.box{
    width: 80px;
}
